.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
  left: 0;
  background-color: #bc8a62;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.name_title {
  font-size: 49px;
  color: rgb(146, 118, 81);
  text-align: left;
  padding-bottom: 20px;
  width: 60;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.brief_description {
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.brief_description {
  text-align: left;
}

.profile_image {
  width: 500px;
  height: auto;
}
